<!DOCTYPE html>
<html lang="en" ng-app="myModFront">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.js"></script>
    <script src="moduleFrontPage.js"></script>
    <link rel="stylesheet" href="frontPage.css">
    <title>Document</title>
</head>
<body ng-controller="myControllerFront">
    <div class="container">
        <h1>ShopSmarter</h1>
    </div>
    <marquee behavior="Sliding" direction="left" >Smart Shopping Made Simple!!</marquee>
    <div class="main">
        <div class="div1">
          <h1>Current User</h1>
          <button ng-click="Login()">Sign in</button> 
        </div>
        <div class="div2">
          <br>
          <span > "Shop simply, save big!" </span>
          <br>
          <br>
          <br>
         <span>"Experience the ease of shopping"</span>
         <br>
         <br>
         <br>
         <span>"Simplicity is the key to shopping happiness"</span>
         <br>
         <br>
         <br>
         <span>"Keep it simple, shop with us"</span>
         <br>
         <br>
         <br>
         <span>"Simple shopping, maximum satisfaction"</span>
        <br>
        <br>
        <br>
        <span>"Simplify your shopping experience"</span>
        <br>
        <br>
        <br>
        <span>"Discover the simplicity of shopping"</span>
    
        </div>
        <div class="div4">
          <h1>New User</h1>
            <button ng-click="Register()">Sign Up</button>
        </div>
    </div>
</body>
</html>